extends layout

block content
    form(method='POST' action='/new')
        h2 New Message
        input(type='text' placeholder='author' name='messageUser')
        input(type='text' placeholder='message' name='messageText')
        button(type='submit') Submit
