body {
  font: 20px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: orangered;
}
body div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html{
  width: 100vw;
  height: 100vh;
} 
a {
  color: #00B7FF;
}
button{
  background-color: gray;
  border-radius: 25px ;
  height: 40px;
  width: 150px;
  font: 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}
.message{
  background-color: gray;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  margin-top: 20px;
  width: 500px;
  color: black;
  box-shadow: 5px 5px 20px black ;
}
form{
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  border-radius: 25px;
  box-shadow: 10px 10px 40px black;
  justify-content: center;
  align-items: center;
}
